{% extends 'sermons/base.html'%}
 {% block content %}
 <div class="container">
     <!-- Breadcrumb -->
     <div class="row">
         <div class="col-12">
           <nav aria-label="breadcrumb ">
             <ol class="breadcrumb">
               <li class="breadcrumb-item"><a class="black-text" href="{% url 'home-page' %}">Home</a></li>
               <li class="breadcrumb-item active">About Us</li>
             </ol>
           </nav>
         </div>
       </div>
     <!-- Section: Features v.4 -->
     <section id="features" class="section feature-box text-center my-5">
       <!-- Section heading -->
       <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s">
         <strong>About Pillars</strong>
       </h2>

       <!-- Section sescription -->
       <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">
        Pillars is a Bible teaching ministry, equiping and engaging people with sound biblical knowledge of the Word, for righteous living.
       </p>

       <!--Grid row-->
       <div class="row features wow fadeIn" data-wow-delay="0.2s">
         <!--Grid column-->
         <div class="col-lg-4 text-center">
           <div class="icon-area">
             <div class="circle-icon">
                 <i class="fas fa-bible"></i>
             </div>
             <br />
             <h5 class="dark-grey-text font-weight-bold mt-2">Pillars of Wisdom</h5>
             <div class="mt-1">
               <p class="mx-3 grey-text">A Bible Teaching ministry that strongly focuses on the foundations of Biblical History Conceal in the Old Testament, Revealed in the New Testament, Expounded in the Church History and Ultimately Resounded in the Current  Kingdom Framework at large.</p>
             </div>
           </div>
         </div>
         <!--Grid column-->

         <!--Grid column-->
         <div class="col-lg-4 text-center">
           <div class="icon-area">
             <div class="circle-icon">
                 <i class="fas fa-ring"></i>
             </div>
             <br />
             <h5 class="dark-grey-text font-weight-bold mt-2">Pillars of Marriage</h5>
             <div class="mt-1">
              <p class="mx-3 grey-text">Five Pillars Guide the Crust and Film of our Teachings of the Godly mandate for Kingdom Marriages: 1) Commitment, 2) Communication, 3) Love, 4) Trust, 5) Understanding.
                Basically from the five Elements that define Sound Building and construction codes: 1) Sand, 2) Ballast, 3) Steel, 4) Cement, 5) Water.
              </p>
             </div>
           </div>
         </div>
         <!--Grid column-->

         <!--Grid column-->
         <div class="col-lg-4 text-center mb-4">
           <div class="icon-area">
             <div class="circle-icon">
                 <i class="fas fa-book-reader"></i>
             </div>
             <br />
             <h5 class="dark-grey-text font-weight-bold mt-2">Foundation Classes</h5>
             <div class="mt-1">
               <p class="mx-3 grey-text">We believe that for every season that the word has gone in the air, New attendants and believers, need to be constantly enlightened on what has been taught in previous sessions.
               For every community setting, we have beings who are at diverse levels of Knowledge and growth.
               The Foundational classes offer those to whom the depth and strength of word is still Raw and they require time to develop.</p>
             </div>
           </div>
         </div>
         <!--Grid column-->
       </div>
       <!--Grid row-->
     </section>
     <!-- Section: Features v.4 -->

     <hr />

     <!-- Section: About 1-->
     <section id="about" class="section about wow fadeIn" data-wow-delay="0.2s">
       <!-- Grid row -->
       <div class="row ">
         <!-- Grid column -->
         <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">

          <a href="https://www.youtube.com/channel/UC3WlIjesETdX3kLWOtk71PQ"><p class="h5 text-center mb-4">Our YouTube Channel</p></a>
             <div class="embed-responsive embed-responsive-16by9">
               <iframe
                 width="560"
                 height="315"
                 src="https://www.youtube.com/embed/NrkLsN-XJ9k"
                 frameborder="0"
                 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                 allowfullscreen
               ></iframe>
             </div>
         </div>
         <!-- Grid column -->

         <!-- Grid column -->
         <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">
           <!-- Secion heading -->
           <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
             <strong>Learn the nature of man from the Bible.</strong>
           </h2>

           <!-- Description -->
           <p align="justify" class="grey-text">
             Get the Latest teachings on Spirit, Soul, Body from our YouTube Channel.
           </p>

         </div>
         <!-- Grid column -->
       </div>
       <!-- Grid row -->
     </section>
     <!-- Section: About 1 -->
   </div>
 {% endblock %}
