{% extends 'sermons/base.html'%}

{% block content %}

<!-- Grid row -->
<div class="container">
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="black-text" href="/index.html">Home</a></li>
        <li class="breadcrumb-item active">sermons</li>
      </ol>
    </nav>
  </div>
</div>
<!-- Blog Template -->
<section class="mt-1">
  <div class="row">
    <!--Left Column-->
    <div class="col-md-8 col-12 ">
      <h3 class="h3 mb-3">All Sermons</h3>
      <!-- Small news -->
      <div class="single-news mb-1">
        <!-- Grid row -->
        <div class="row">


<div class="col-md-9">
  <!-- Excerpt -->

      {% for teaching in serms %}
      <a href="#!" class="blue-text font-weight-normal font-italic">

           {{ teaching.title }}
      </a>
      <p class="mb-1">
        {% if teaching.audi %}
        <a class="black-text" href="{{ teaching.audi.url }}"><i class="fas fa-play mx-2"></i>Play Audio</a>
        {% else %}
        <a class="black-text" href="#!"><i class="fas fa-play mx-2"></i>No Audio</a>
        {% endif %}
        {% if teaching.notes %}
        <a class="black-text" href="{{ teaching.notes.url }}"><i class="fas fa-file-download mx-2"></i>Download Notes</a>
        {% else %}
        <a class="black-text" href="#!"><i class="fas fa-file-download mx-2"></i>Notes Unavailable</a>
        {% endif %}
      </p>
      <h6 class="dark-grey-text">{{ teaching.date_created }}<span class="font-small light-blue-text"> By {{ teaching.teacher }}</span></h6>
      {% endfor %}
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- Grid column -->
{% endblock content %}
